
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------- */
img {
    max-width: 100%;
    height: auto;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /* ---------------------- */
  .wrap {
    background: #efe9e7;
    max-width: 1024px;
    margin: 0 auto;
  }
  i{
    color: white;
  }
  * {
    font-family: MicrosoftJhengHeiRegular;
    color: #3d1101;
  }
  nav {
    display: flex;
    justify-content: space-between;
    background: #000;
    padding: 0 10px;
  }
  nav h1 {
    margin-top: 10px;
    display: block;
    background-image: url("img/logo_w(null).svg");
    width: 120px;
    height: 30px;
    /* text-indent: 101%; */
    white-space: nowrap;
    overflow: hidden;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
        /* padding: 17px; */
    background: #000;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  nav ul li a {
    display: block;
    width: 70px;
    padding: 17px;
    cursor: pointer;
    color: #eee;
    text-decoration: none;
    border-bottom: 3px solid transparent;
  }
  nav ul li a:hover {
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .showMenu {
    display: none;
  }
  @media (max-width: 576px) {
    .menu {
      /*隱藏選單開始*/
      max-height: 0;
      overflow: hidden;
      /*隱藏選單結束*/
      transition: max-height 1s;
      /*絕對定位疊在網頁上*/
      position: absolute;
      z-index: 100;
      /*header 70px+1px*/
      top: 56px;
      right: 0;
      left: 0;
      flex-direction: column;
    }
    .menu li {
      width: 100%;
      text-align: center;
    }
    .showMenu {
      margin: 10px;
      display: block;
      text-decoration: none;
      font-size: 25px;
      color: #fff;
      font-weight: bold;
      padding: 5px;
    }
    .header .showmenu:hover {
      border: 5px dashed #ff9999;
    }
    .menu-show .menu {
      max-height: 500px;
    }
  }
  /* banner */
  .banner {
    background-image: url("https://i.imgur.com/O96y6tl.png");
    max-width: 100%;
    height: 364px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
  }
  .bannre-text {
    max-width: 460px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.35);
    line-height: 1.3;
  }
  .bannre-text h2 {
    font-size: 38px;
    color: #fff;
    text-align: center;
  }
  .bannre-text p {
    text-align: center;
    font-size: 24px;
    color: #fff;
  }
  @media (max-width: 576px) {
    .banner {
      background-image: url("https://i.imgur.com/BBxhL0o.png");
    }
  }
  
  /* footer */
  footer {
    padding: 35px;
    background: #efe9e7;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer {
    padding: 1%;
    width: 33.33333%;
    /*     color: #3d1101; */
  }
  .footer h3 {
    margin-bottom: 16px;
    font-size: 26px;
  }
  .footer-bottom {
    text-align: right;
  }
  .footer img {
    margin-bottom: 16px;
  }
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
    }
    .footer {
      width: 89%;
      margin-bottom: 30px;
    }
  }
  .top{
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
  /* -------------------index首頁---------------------- */
  .index-pdiv {
    width: 210px;
    margin: 0 auto;
  }
  .index-pdiv p {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
  }
  .tips {
    display: flex;
    justify-content: space-around;
  }
  .tips-item {
    width: 30.333%;
    padding: 1.5%;
  }
  .tips-item img {
    display: block;
    border-radius: 50%;
    margin-bottom: 10px;
    margin: 0 auto 20px auto;
  }
  .tips-item img:hover{
    transform:scale(1.2,1.2);
  }
  .tips-item h3 {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  @media (max-width: 576px) {
    .tips {
      flex-direction: column;
    }
    .tips-item {
      margin: 0 auto;
      width: 80%;
      padding: 5% 10% 5% 10%;
    }
  }
  .chef {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background: #3d1101;
    width: 100%;
  }
  .chef img {
    width: 45%;
  }
  .chef .text {
    padding: 3%;
    width: 45%;
  }
  .chef h4 {
    color: White;
    margin-top: 30px;
    line-height: 1.5;
    font-size: 20px;
  }
  .chef small {
    color: White;
    line-height: 1.5;
  }
  .chef p {
    color: White;
    margin-top: 20px;
    line-height: 1.5;
  }
  @media (max-width: 576px) {
    .chef {
      flex-direction: column;
    }
    .chef img {
      width: 100%;
    }
    .chef .text {
      width: 90%;
      padding: 10% 5% 10% 5%;
    }
    .chef h4 {
      margin-top: 10px;
    }
  }
  .impression {
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  .impression-item {
    width: 31.33333%;
    display: flex;
    justify-content: space-between;
  }
  .impression-item img {
    width: 250px;
    border-radius: 50%;
  }
  .impression-item .content {
    padding: 13px;
  }
  .impression-item h4 {
    font-weight: bold;
    font-size: 18px;
  }
  .impression-item p {
    padding: 16px 0;
  }
  .impression-item h5 {
    text-align: right;
  }
  @media (max-width: 576px) {
    .impression {
      flex-direction: column;
    }
    .impression-item {
      margin: 0 auto;
      width: 80%;
    }
  }
  @media (max-width: 375px) {
    .impression-item {
      width: 90%;
    }
  }
  .Location{
    background: #f6f4f3;
    padding: 18px 21px;
  }
  .Location-display{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .Location-display img{
      width: 48%;
  }
  form{
    width: 50%;
    padding-left: 2%;
  }
  input{
    margin-top: 6px;
    margin-bottom: 12px;
    /* max-width: 363px; */
    padding: 5px;
  }
  .btn{
    display: flex;
    flex-direction:row-reverse;

  }
  .submit{
    line-height: 2;
    padding: 6px;
    width: 70px;
    background: #F56C23;
    border: none;
    border-radius: 10%;
    color: #fff;
    margin-left: 11px;
    margin-right: 25px;
    cursor: pointer;
  }
  .cancel{
    padding: 6px;
    width: 70px;
    background: gray;
    border: none;
    border-radius: 10%;
    color: #fff;
    margin-left: 11px;
    cursor: pointer;
  }
  @media(max-width:576px){
    .Location-display{
    flex-direction:column;
    }
    .Location-display img{
    width: 98%;
    }
    form{
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    }
  }
/* -------------------index首頁結束---------------------- */
/* -------------------購物車cart---------------------- */

/* -------------------購物車cart結束---------------------- */
/* -------------------login---------------------- */
/* -------------------login結束---------------------- */
/* -------------------register---------------------- */
/* -------------------register結束---------------------- */